@model IEnumerable<MusicFall2016.Models.Artist>
@{
    ViewData["Title"] = "Artists";
}
<h2>Artist List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Artist</th>
            <th>Genre</th>
        </tr>
    </thead>
    @foreach (var artist in Model)
    {
        <tr>
            <td>@artist.Name</td>
            <td></td>
            <td></td>
            <td>@artist.Bio</td>
            <td>
                <a asp-action="Edit" asp-route-id="@artist.ArtistID">Edit</a> |
                <a asp-action="Details" asp-route-id="@artist.ArtistID">Details</a> |
                <a asp-action="Delete" asp-route-id="@artist.ArtistID">Delete</a>
            </td>
        </tr>
    }
    </table>

