@model IEnumerable<MusicFall2016.Models.Album>
@{
    ViewData["Title"] = "Albums";
}
<h2>Album List</h2>

<form action="Create" method="get">
    <div>
        <button id="createButton2">
            Create Album
        </button>
    </div>
</form>
<form asp-controller="Albums" asp-action="Details" method="get">
    <div>
        <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </div>
</form>
<form asp-action="Details" method="get">
    <button>
        Full List
    </button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Sort" asp-route-sortOrder="@ViewBag.TitleSortParm">@Html.DisplayNameFor(model => model.Title)</a>
            </th>
            <th>
                <a asp-action="Sort" asp-route-sortOrder="@ViewBag.ArtistSortParm">Artist</a>
            </th>
            <th>
                <a asp-action="Sort" asp-route-sortOrder="@ViewBag.GenreSortParm">Genre</a>
            </th>
            <th>
                <a asp-action="Sort" asp-route-sortOrder="@ViewBag.PriceSortParm">@Html.DisplayNameFor(model => model.Price)</a>
            </th>
            <th>
                <a asp-action="Sort" asp-route-sortOrder="@ViewBag.LikeSortParm">@Html.DisplayNameFor(model => model.Like)</a>
            </th>
        </tr>
    </thead>
    @foreach (var album in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => album.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Artist.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Genre.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => album.Like)
            </td>
            <td>
                <a asp-action="Like" asp-route-id="@album.AlbumID">Like</a> |
                <a asp-action="Update" asp-route-id="@album.AlbumID">Edit</a> |
                <a asp-action="Read" asp-route-id="@album.AlbumID">Details</a> |
                <a asp-action="Delete" asp-route-id="@album.AlbumID">Delete</a> |
                <a asp-controller="Account" asp-action="Playlists" asp-route-id="@album.AlbumID"> Add to PlayList</a>
            </td>
        </tr>
    }
    </table>

