@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Albums Read";
}
<h2>Information for @Model.Title</h2>
<p>Title: @Model.Title</p>
<p>Artist Name: @Model.Artist.Name</p>
<p>Artist Bio: @Model.Artist.Bio</p>
<p>Genre: @Model.Genre.Name</p>
<p>Price: @Model.Price</p>
<p>Likes: @Model.Like</p>

<form asp-action="Like" asp-route-id="@Model.AlbumID">
    <button>
        <div>Like</div>
    </button>
</form>
<form asp-controller="Account" asp-action="Playlists" asp-route-id="@Model.AlbumID">
    <button>
        <div>Add To Playlists</div>
    </button>
</form>

<p>
    Recommendations:
</p>
<p>
    @ViewData["recAlbums"]
</p>

<form action="/Albums/Details" method="get">
    <button id="backButton">
        Back to List
    </button>
</form>