@model MusicFall2016.Models.Album
@{
    ViewData["Title"] = "Albums Update";
}
<h2>Album Update</h2>
<form asp-action="Update" method="post">
    <div>
        <input type="hidden" asp-for="AlbumID" value="@Model.AlbumID">
        Title <p><input type="text" id="Title" asp-for="Title" value="@Model.Title" /></p>
        <span asp-validation-for="Title" class="text-danger"></span>
        Artist <p><select asp-for="ArtistID" asp-items="ViewBag.ArtistList" data-val="true" data-val-required="The Artist field is required." id="ArtistID" name="ArtistID" class="btn-lg" value="@Model.Artist.Name"></select></p>
        <span asp-validation-for="ArtistID" class="text-danger"></span>
        Genre <p><select asp-for="GenreID" asp-items="ViewBag.GenreList" data-val="true" data-val-required="The Genre field is required." id="GenreID" name="GenreID" class="btn-lg"value="@Model.Genre.Name"></select></p>
        <span asp-validation-for="GenreID" class="text-danger"></span>
        Price <p><input type="text" data-val="true" data-val-number="The Price field is required" data-val-range="Price must be between 0.01 and 100" data-val-range-max="100" data-val-range-min="0.01" data-val-regex="Not a valid number" data-val-regex-pattern="^\d+(\.\d{0,2})?$" data-val-required="The Price is required" id="Price" name="Price" asp-for="Price" value="@Model.Price"></p>
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div>
        <button id="updateButton">
            Save Updates
        </button>
    </div>
</form>
<form action="Details" method="get">
    <div>
        <button id="backButton">
            Back to List
        </button>
    </div>
</form>