@model EventManager.Models.UserEvents
@{
    ViewData["Title"] = "Events Calendar Page";
}
@inject UserManager<ApplicationUser> UserManager
<h2>Events Followed</h2>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Genre
                </th>
            </tr>
        </thead>
        @foreach (var Event in Model.Events)
        {
            @if (/*Event.EventDate > DateTime.Now */ true == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Event.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Event.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Event.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Event.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Event.Genre)
                    </td>
                </tr>
            }
        }
    </table>
</div>

