@model IEnumerable<EventManager.Models.Events>
@{
    ViewData["Title"] = "Home Page";
}
@inject UserManager<ApplicationUser> UserManager
<h1>Event Calendar</h1>
<p></p>
<div>
    <h2>Add an Event</h2>
    <div>
        <form asp-controller="Home" asp-action="AddEvent" method="get">
            <button>Click Here to Add Event</button>
        </form>
        <form asp-controller="Home" asp-action="Index" method="get">
            <div>
                <input type="text" name="SearchString">
                <p>
                    <input type="submit" value="Filter" />
                </p>
            </div>
        </form>
        @if (User.IsInRole("ARTIST") == true)
        {
            <form asp-controller="Home" asp-action="Index" method="get">
                <p>
                    <input type="hidden" name="Sorting" value="Sorting"/>
                    <input type="submit" value="Sort" />
                </p>
            </form>
        }
    </div>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Event
                </th>
                <th>
                    Artist
                </th>
                <th>
                    Date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Genre
                </th>
            </tr>
        </thead>
        @foreach (var events in Model)
        {
            @if(events.EventDate > DateTime.Now)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => events.EventName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.ArtistName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.EventDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => events.Genre)
                    </td>
                    <td>
                        <a asp-action="EventDetails" asp-route-id="@events.EventsID">Event Details</a> |
                        @if(User.IsInRole("ARTIST") == true)
                        {
                            <a asp-action="EditEvent" asp-route-id="@events.EventsID">Edit |</a>
                        }
                        @if (User.IsInRole("ARTIST") == true)
                        {
                            <a asp-action="RemoveEvent" asp-route-id="@events.EventsID">Remove</a>
                        }
                            <form asp-action="Follow" asp-route-id="@events.EventsID" method="post">
                                <button>Follow Artist</button>
                            </form>
                            <form asp-action="EventSub" asp-route-id="@events.EventsID" method="post">
                                <button>Add Event to Calendar</button>
                            </form>
                    </td>
                </tr>
            }
        }
    </table>
</div>
